/* 
 * Basics
 */

:root {
  background-color: var(--bg-color-primary);
  background-image: linear-gradient( -20deg, var(--bg-color-primary), var(--bg-color-secondary));
  box-shadow: 2rem 1rem 10rem 1rem var(--bg-color-tertiary) inset;
  color: var(--main-color);
  font-size: 20px;
  line-height: 1.5rem;
  font-family: sans-serif;

  --main-color: darkslateblue;
  --bg-color-primary: palegoldenrod;
  --bg-color-secondary: peachpuff;
  --bg-color-tertiary: bisque;
  --focus-color: lightsalmon;
}

* {
  box-sizing: border-box;
  margin: 0;
}

:focus {
  outline: 0;
}

:focus-visible {
  outline: 0.25rem solid var(--focus-color);
}

a {
  color: inherit;
  text-decoration-style: dotted;
  border-radius: 0.25rem;
}

a:hover {
  text-decoration-style: solid;
}

body {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* 
 * Content
 */

main {
  flex: 1;
}

.name,
.idea,
.footer {
  width: 100%;
  max-width: 25rem;
  margin: 2rem auto;
}

.randomize-button {
  appearance: none;
  cursor: pointer;
  text-decoration: none;
  color: currentcolor;
  background-color: transparent;
  height: auto;
  margin: 0;
  font: inherit;
  border: 1.5px solid currentcolor;
  box-shadow: 0 0.4rem 0 0 currentcolor;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: 600;
  overflow-wrap: break-word;
}

.randomize-button:hover {
  background-color: var(--focus-color);
}

.randomize-button:active {
  /* Makes it look pressed down */
  transform: translateY(0.125rem);
  box-shadow: 0 calc(0.4rem - 0.125rem) 0 0 currentcolor;
}

.idea {
  padding: 2rem;
  border: 2.5px dotted currentColor;
  border-radius: 1rem;
}

.idea-name {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 auto;
}

.idea-description:not(:empty) {
  margin: 1rem auto 0;
}

.footer {
  font-size: 0.666rem;
  margin-bottom: 0;
}
