:root {
  background-color: lightsalmon;
  color: darknavy;
  font-size: 20px;
  line-height: 1.666;
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}
main {
  flex: 1;
}
a {
  color: inherit;
  text-decoration-style: dotted;
}
a:href {
  text-decoration-style: solid;
}
footer {
  font-size: 0.666rem;
}
